@media screen and (max-width:500px)
img
{
	width:50%;
	height:50%;
}
#caja1
{
	background:green;
}
#caja2
{
	background:yellow;
}
@media screen and (min-width:500px)
img
{
	width:50%;
	height:50%;
}
#caja1
{
	background:red;
}
#caja2
{
	background:pink;
}
